*{
    margin: 0px;
    padding: 0px;
   
}

body{
    background:#999966;
}


.navbar ul{
    
    background-color:#8B8000 ; height: 45px;
    font-family:sans-serif; color:black;
    margin: 0px;
    text-align: center;
    position: sticky;
    top:5px;
    box-shadow: 0px 3px 5px black;
    border-radius: 2px;
    text-shadow: 1px 1px 1px white;

        
    
    
}

li{

    display: inline-block;
    margin-right: 50px;
    margin-top: 10px;
    cursor: pointer;
}

a{
    text-decoration: none; 
    font-size: 22px;
    font-weight:1000;
    color: black
}

.navbar a:hover {
    background:white;

}


.continar{
    width:60%;
    height: 1700px;
    margin: 80px auto;
    overflow: hidden;
    object-position: left;
   
}
.continar h1{
    padding: 60px 0;
    color: black;
    font-size: 44px;
    text-align: center;
    text-shadow: 1px 2px 1px white;
}

.row{
    display: flex;
    align-items:center;
    flex-wrap: wrap;

    
}

.col{
    flex-basis:50%;
    min-width: 250px;
    
    
}

.feature-img{
    width: 80%;
    position: relative;
    border-radius: 6px;
    box-shadow: 2px 3px 2px black;
    overflow: hidden;
    border-color: aliceblue
    
}

.small-img-row{
    display: flex;
    background:#8B8000;
    margin: 20px ;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width:85%;
    border-radius: 5px;
    box-shadow: 2px 3px 2px BLACK;
    overflow: hidden;
  
    
}

.small-img{
    position: relative;
    
}

.smal-img img {
    width: 200px;

}
.small-img-row .p{
    margin-left: 20px;
    color:#707070;
    line-height: 22px;
    font-size: 40px;

    
}



.small-img-row{
    margin-left: 20px;
    color: black;
    line-height: 18px;
    font-size: 15px;
}

.play-btn{
    width: 60px;
    position:absolute;
    left:40%;
    top:50%;
    transform: translate(-40%,-50);
    cursor: pointer;
        
}

.small-img .play-btn{
    width: 30px;
    
}


